{% extends 'base.html.twig' %}

{% block body %}


<p class="bg-info display-4">
Votre devis à bien été pris on compte vous serez contacter par l'équipe commercial dans les plus bref délai.<br>
Merci d'avoir choisi L'agence et merci de votre confiance.</p>

<a href="{{ path('accueil') }}" class="btn btn-secondary m-4">Retour à l'accueil</a>

{% endblock %}