{% extends 'base.html.twig' %}

{% block body %}


<p class="bg-info">
Votre devis à bien été pris on compte vous serez contacter par l'équipe commercial dans les plus bref délai.<br>
Merci d'avoir choisi L'agence et de votre confiance.</p>

{% endblock %}