{% extends 'base.html.twig' %}

{% block title %}Edit Abonne{% endblock %}

{% block body %}

<link rel="stylesheet" type="text/css" href="/stylenew.css">

    <h1>Modifier l'abonné {{ abonne.id }}</h1>

    {{ include('abonne/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('abonne_index') }}">Retour à la liste</a>

    {{ include('abonne/_delete_form.html.twig') }}
{% endblock %}
