{% extends 'base.html.twig' %}

{% block title %}Hello NosServicesController!{% endblock %}

{% block body %}

<link rel="stylesheet" type="text/css" href="/1.css">
<link rel="stylesheet" type="text/css" href="/3.css">

<body class="body">
    <div class="div-block">
        <h1 class="heading-3">NOS SERVICES</h1>
        <div class="text-block-2">Des solutions innovantes pour vos événements</div>
    </div><img src="/le-salon-drouot-cocktail-entreprise.jpg" loading="lazy" width="545" sizes="(max-width: 767px) 100vw, 545px" srcset="/le-salon-drouot-cocktail-entreprise-p-1080.jpeg 1080w, /le-salon-drouot-cocktail-entreprise-p-1600.jpeg 1600w, /le-salon-drouot-cocktail-entreprise-p-2000.jpeg 2000w, /le-salon-drouot-cocktail-entreprise.jpg 2048w"
        alt="" class="imagess">
    <header id="hero" class="hero-2">
        <div class="flex-container-2 w-container">
            <div>
                <h1 class="heading-4">DJ</h1>
                <h5 class="heading-11">MUSIQUE ADAPTÉE</h5>
                <p class="paragraph">Notre équipe vous fait des suggestions et veille à diffuser vos choix musicaux. <br></p>
                <h5 class="heading-12">MIX DYNAMIQUE</h5>
                <p>Nos DJ sont réactifs, ils mixent vos demandes et celles de vos invités avec des transitions fluides et dynamiques.</p>
                <h5 class="heading-13">DJ EXPERIMENTÉ</h5>
                <p>Nos artistes sont tous généralistes, créatifs et rodés aux soirées parisiennes.</p>
                <a href="#" class="button-2 w-button">Ajouter à ma sélection +</a>
            </div>
            <div class="hero-image-mask"><img src="/la-peniche-soiree-dansante.jpg" height="200" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 350.46875px, 515.5px" width="2016" srcset="/la-peniche-soiree-dansante-p-500.jpeg 500w, /la-peniche-soiree-dansante-p-1080.jpeg 1080w, /la-peniche-soiree-dansante-p-1600.jpeg 1600w, /la-peniche-soiree-dansante-p-2000.jpeg 2000w, /la-peniche-soiree-dansante-p-2600.jpeg 2600w, /la-peniche-soiree-dansante-p-3200.jpeg 3200w, /la-peniche-soiree-dansante.jpg 4032w"
                    alt="" class="hero-image-2"></div>
        </div>
    </header>
    <section id="feature-section" class="feature-section">
        <div class="flex-container-2 w-container">
            <div class="feature-image-mask"><img src="/2017-10-28-22h39m05s.jpg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 281.46875px, 424.8125px" srcset="/2017-10-28-22h39m05s-p-1080.jpeg 1080w, /2017-10-28-22h39m05s-p-1600.jpeg 1600w, /2017-10-28-22h39m05s-p-2000.jpeg 2000w, /2017-10-28-22h39m05s.jpg 2048w"
                    alt="" class="feature-image"></div>
            <div class="div-block-3">
                <h2 class="heading-5">PHOTOBOOTH</h2>
                <h5 class="heading-14">IMPRESSIONS INSTANTANÉES</h5>
                <p class="paragraph-2">Les impressions sont illimitées, instantanées et de qualité studio!<br>‍<br>‍</p>
                <h5 class="heading-15">IMPRESSIONS PERSONNALISABLES</h5>
                <p>Faites apparaître votre nom, la date de la soirée etc. Choisissez les formats (photomaton, polaroïd etc.)  </p>
                <h5 class="heading-16">DE BEAUX SOUVENIRS POUR VOS INVITÉS<br></h5>
                <p>Le Photobooth est une animaIon divertissante, décalée et fédératrice ! Elle apporte une touche d’originalité à votre soirée et chacun repart avec de jolies photos du jour J.</p>
                <a href="#" class="button-4 w-button">Ajouter à ma sélection +</a>
            </div>
        </div>
    </section>
    <header id="hero" class="hero-4">
        <div class="flex-container-3 w-container">
            <div class="div-block-4">
                <h1 class="heading-7">JEUX</h1>
                <h5 class="heading-26">BABYFOOT, PING-PONG</h5>
                <p class="paragraph-3">De 4 à 8 joueurs sur un babyfoot géant ! À partir de 490€<br></p>
                <h5 class="heading-27">AIR HOCKEY, CONSOLE RETRO<br></h5>
                <p>Les jeux des années 90 ! À partir de 590€</p>
                <h5 class="heading-28">FLIPPER, BORNE D’ARCADE</h5>
                <p class="paragraph-4">Un véritable classique ! 1000 jeux dans une seule borne. À parIr de 490€</p>
                <a href="#" class="button-6 w-button">Ajouter à ma sélection +</a>
            </div>
            <div class="hero-image-mask"><img src="/Babyfoot.jpg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 377.953125px, 557.390625px" srcset="/Babyfoot-p-1080.jpeg 1080w, /Babyfoot-p-1600.jpeg 1600w, /Babyfoot.jpg 1620w"
                    alt="" class="hero-image-3"></div>
        </div>
    </header>
    <section id="feature-section" class="feature-section-2">
        <div class="flex-container-3 w-container">
            <div class="feature-image-mask"><img src="/photographer-2179204_1920.jpg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 336.34375px, 497.3125px" srcset="/photographer-2179204_1920-p-500.jpeg 500w, /photographer-2179204_1920-p-800.jpeg 800w, /photographer-2179204_1920-p-1600.jpeg 1600w, /photographer-2179204_1920.jpg 1920w"
                    alt="" class="feature-image"></div>
            <div class="div-block-5">
                <h2 class="heading-8">PHOTOGRAPHE | VIDEASTE</h2>
                <h5 class="heading-23">UN VRAI PROFESSIONNEL</h5>
                <p>Les impressions sont illimitées, instantanées et de qualité studio!<br></p>
                <h5 class="heading-24">UN CREATIF</h5>
                <p>Loin des clichés traditionnels, il saura s’adapter à vos envies afin d’apporter à chacune des photos une touche d’originalité.</p>
                <h5 class="heading-25">VOTRE ÉVÉNEMENT IMMORTALISÉ</h5>
                <p>Loin des clichés traditionnels, il saura s’adapter à vos envies afin d’apporter à chacune des photos une touche d’originalité.</p>
                <a href="#" class="button-7 w-button">Ajouter à ma sélection +</a>
            </div>
        </div>
    </section>
    <header id="hero" class="hero-6">
        <div class="flex-container-5 w-container">
            <div>
                <h1 class="heading-9">MUSICIEN</h1>
                <h5 class="heading-20">LIVE</h5>
                <p>Il est possible d’alterner différentes ambiances allant de “l’intimiste” au “dansant” pour plus de divertissement.</p>
                <h5 class="heading-21">SOLO OU TRIO</h5>
                <p> Vous désirez faire un cocktail, un gala ou une soirée et avoir un ou plusieurs musiciens, nous avons ce qu’il vous faut.</p>
                <h5 class="heading-22">JAZZ, POP, ROCK OU FANFARE<br></h5>
                <p>Suspendisse variusIl est possible de mèler les standards de jazz aux Itres pop ou encore de bossa nova en foncIon de la formaIon.</p>
                <a href="#" class="button-8 w-button">Ajouter à ma sélection +</a>
            </div>
            <div class="hero-image-mask"><img src="/musicien.jpg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 325.140625px, 482.75px" srcset="/musicien-p-500.jpeg 500w, /musicien-p-800.jpeg 800w, /musicien-p-1080.jpeg 1080w, /musicien-p-1600.jpeg 1600w, /musicien.jpg 1920w"
                    alt="" class="hero-image-3"></div>
        </div>
    </header>
    <section id="feature-section" class="feature-section-4">
        <div class="flex-container-5 w-container">
            <div class="feature-image-mask"><img src="/magicien.jpg" srcset="/magicien-p-800.jpeg 800w, /magicien-p-1080.jpeg 1080w, /magicien-p-1600.jpeg 1600w, /magicien.jpg 1732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 331.5625px, 491.109375px"
                    alt="" class="feature-image"></div>
            <div>
                <h2 class="heading-10">MAGICIEN</h2>
                <h5 class="heading-19">LE CONTACT DIRECT</h5>
                <p>Élégant, il échange, partage, surprend, émerveille… c’est l’animation idéale pour créer de la convivialité.</p>
                <h5 class="heading-18">SUCCÈS GARANTI !</h5>
                <p>La magie reste un excellent moyen de briser la glace pour vos convives afin d’ouvrir des nouvelles discussions.</p>
                <h5 class="heading-17">PROPOSITIONS VARIÉES</h5>
                <p>Close up, mentalisme, magie iTech, show scénique, ces différentes approches permettront de rendre unique votre événement.</p>
                <a href="#" class="button-9 w-button">Ajouter à ma sélection +</a>
            </div>
        </div>
    </section>
    <div class="div-block-6"></div>
    <header id="hero" class="hero-3"></header>
    <section>

{% endblock %}
